/* Created By Alfian Wahyu */

.container {
    max-width: 500px;
    margin: 60px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #020202;
}

.container h2 {
    text-align: center;
    margin-left: 15px;
}

.result {
    margin: 15px;
    padding: 10px;
}
